# .env
SECRET_KEY = 'SUA_CHAVE_SECRETA_AQUI'
DEBUG = True

DB_NAME='NOME_DO_BANCO_DE_DADOS'
DB_USER='USUARIO_DO_BANCO_DE_DADOS'
DB_PASSWORD='SENHA_DO_BANCO_DE_DADOS'

# Configurações de E-mail (Brevo)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER= #email_smtp_brevo
EMAIL_HOST_PASSWORD= #senha_smtp_brevo
DEFAULT_FROM_EMAIL= #email_origem_brevo