# Exemplo de .env.example
SECRET_KEY=sua_chave_secreta_django_aqui
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3

# Chave para Criptografia AES (Gerada via cryptography.fernet.Fernet.generate_key())
ENCRYPTION_KEY=sua_chave_fernet_aqui